---
import { GoBack } from '~/components/ui'
import Base from '~/layouts/Base.astro'

const posts = await Astro.glob('./*.mdx')
---

<Base>
  <article>
    <div class="h-20"></div>

    <GoBack />

    <h1>Blog</h1>
    <p>Posts:</p>
    <ul>
      {
        posts.map((post) => (
          <li class="group flex rounded-md shadow-md justify-between bg-base hover:bg-crust duration-300 !ml-0">
            <a class="flex p-2.5 justify-between w-full" href={post.url}>
              <div>
                <p class="text-text mb-1 group-hover:text-primary group-hover:drop-shadow-[0px_0px_8px_rgba(var(--primary))] duration-300">
                  {post.frontmatter.title}
                </p>
                <p class="small mb-0">{post.frontmatter.description}</p>
              </div>
              <time>
                <i class="text-subtext0">{post.frontmatter.pubDate}</i>
              </time>
            </a>
          </li>
        ))
      }
    </ul>
  </article>
</Base>
