/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

@import './typography.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  scroll-behavior: smooth;
}

body {
	font-family: Poppins, Verdana, sans-serif;
	word-wrap: break-word;
	overflow-wrap: break-word;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-base text-subtext1 font-poppins;
}
button {
  @apply font-thin;
}
section {
  @apply my-10;
}
article {
  @apply max-w-prose mx-auto;
}
img {
	width: 100%;
	height: auto;
}
code {
	padding: 2px 5px;
  @apply bg-surface0;
}
pre {
	padding: 1rem;
}
pre > code {
	all: unset;
}
blockquote {
	border: 1px solid #999;
	padding: 2px 0px 2px 20px;
	margin: 0px;
	font-style: italic;
}

.success {
  @apply text-green;
}
.warning {
  @apply text-peach;
}
.error {
  @apply text-maroon;
}
.bg-active {
  @apply bg-lavender;
}
.bg-inactive {
  @apply bg-overlay0;
}

pre.astro-code {
  @apply rounded-lg mb-5;
}

code {
  @apply rounded-lg px-2 py-1 border border-red/25 text-yellow font-thin text-sm;
}

.glow, .glow-text {
  @apply relative;
}

.glow::after {
  content: "";
  @apply shadow-[0px_0px_0px_1px_rgba(var(--ctp-yellow)),0_2px_20px_-2px_rgba(var(--ctp-yellow))] delay-150 text-yellow delay-150 inset-0 absolute w-full h-full rounded-lg opacity-0 duration-300 ease-linear transition-all;
}

.glow-text {
  @apply duration-300 ease-linear delay-150;
}

.glow-text:hover {
  @apply text-yellow drop-shadow-[0px_0px_7px_rgba(var(--ctp-yellow))];
}

.glow:hover::after {
  @apply opacity-100;
}

pre {
  white-space: unset;
  @apply p-0;
}

pre code {
  @apply py-3;
}

pre code, pre code .line {
  @apply w-full inline-block;
}

pre code .line {
  counter-increment: listing;
  @apply hover:bg-base/75 whitespace-nowrap;
}

pre code .line::before {
  content: counter(listing);
  display: inline-block;
  @apply w-10 ml-3 mt-1;
}
