/* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1920,20,1.125,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

@layer base {
:root {
  --step--2: clamp(0.78rem, calc(0.74rem + 0.21vw), 0.99rem);
  --step--1: clamp(0.94rem, calc(0.90rem + 0.17vw), 1.11rem);
  --step-0: clamp(1.13rem, calc(1.10rem + 0.13vw), 1.25rem);
  --step-1: clamp(1.35rem, calc(1.34rem + 0.06vw), 1.41rem);
  --step-2: clamp(1.58rem, calc(1.63rem + -0.04vw), 1.62rem);
  --step-3: clamp(1.78rem, calc(1.98rem + -0.16vw), 1.94rem);
  --step-4: clamp(2.00rem, calc(2.40rem + -0.33vw), 2.33rem);
  --step-5: clamp(2.25rem, calc(2.91rem + -0.55vw), 2.80rem);
}

  p, button {
    font-size: var(--step-0);
    line-height: 1.5em;
    @apply text-text font-poppins;
  }

  a {
    font-size: var(--step-0);
    line-height: 1.5em;
  }

  h1, h2, h3, h4, h5, h6, label {
    @apply text-subtext1 font-bold;
    line-height: 1.5em;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-corben font-semibold;
  }

  h1 {
    font-size: var(--step-5);
  }

  h2 {
    font-size: var(--step-4);
  }

  h3 {
    font-size: var(--step-3);
  }

  h4 {
    font-size: var(--step-2);
  }

  h5 {
    font-size: var(--step-1);
  }

  h6 {
    font-size: var(--step-0);
  }

  a {
    font-family: var(--step-0);
    @apply text-peach relative;
  }

  a.link-hover:after {
    content: "";
    @apply duration-300 bottom-0 left-0 w-0 h-[1px] absolute bg-gradient-to-r from-rosewater to-peach;
  }

  a.link-hover:hover:after {
    @apply w-full;
  }

  article, .article {
    @apply mx-auto max-w-prose;
  }

  article :is(h1, h2, h3, h4, h5, h6), .article :is(h1, h2, h3, h4, h5, h6) {
    @apply mb-5 text-slate-300;
  }

  article ul, .article ul {
    @apply mb-5;
  }

  article ul li, .article ul li {
    @apply list-disc list-inside;
  }

  article p, .article p {
    @apply mb-5;
  }

  small, .small {
    line-height: 1.5em;
    @apply text-text font-poppins;
    font-size: var(--step--1);
  }

  *::selection {
    @apply bg-surface2;
  }
}
