/* @link https://utopia.fyi/type/calculator?c=320,18,1.125,1920,20,1.125,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

@layer base {
  :root {
 --step--2: clamp(0.89rem, calc(0.87rem + 0.10vw), 0.99rem);
  --step--1: clamp(1.00rem, calc(0.98rem + 0.11vw), 1.11rem);
  --step-0: clamp(1.13rem, calc(1.10rem + 0.13vw), 1.25rem);
  --step-1: clamp(1.27rem, calc(1.24rem + 0.14vw), 1.41rem);
  --step-2: clamp(1.42rem, calc(1.39rem + 0.16vw), 1.58rem);
  --step-3: clamp(1.60rem, calc(1.57rem + 0.18vw), 1.78rem);
  --step-4: clamp(1.80rem, calc(1.76rem + 0.20vw), 2.00rem);
  --step-5: clamp(2.03rem, calc(1.98rem + 0.23vw), 2.25rem);
  }

  p, button {
    font-size: var(--step-0);
    line-height: 1.5em;
  }

  a {
    font-size: var(--step-0);
    line-height: 1.5em;
    @apply !text-yellow relative;
  }

  h1, h2, h3, h4, h5, h6, label {
    @apply font-corben font-semibold text-subtext1;
    line-height: 1.5em;
  }

  h1 {
    font-size: var(--step-5) !important;
  }

  h2 {
    font-size: var(--step-4) !important;
  }

  h3 {
    font-size: var(--step-3) !important;
  }

  h4 {
    font-size: var(--step-2) !important;
  }

  h5 {
    font-size: var(--step-1) !important;
  }

  h6 {
    font-size: var(--step-0) !important;
  }

  /*
  *   Only style <a> that beggings with `https://`
  *   that is not followed by an <img>
  **/
  article a:not(:has(> img))[href^="https://"]:after {
    content: "";
    @apply duration-300 bottom-0 left-0 w-0 h-[1px] absolute bg-gradient-to-r from-red to-mauve;
  }
  article a:not(:has(> img))[href^="https://"]:hover:after {
    @apply w-full;
  }

  article, .article {
    @apply mx-auto max-w-prose container;
  }

  article :is(h1, h2, h3, h4, h5, h6), .article :is(h1, h2, h3, h4, h5, h6) {
    @apply mb-5 text-slate-200;
  }

  article ul, .article ul {
    @apply mb-5;
  }

  article ul li, .article ul li {
    @apply list-disc list-inside ml-5;
  }

  article p, .article p {
    @apply mb-5;
  }

  small, .small {
    line-height: 1.5em;
    font-size: var(--step--1);
    @apply text-text font-poppins;
  }

  :not(pre, code, code span)::selection {
    @apply bg-red text-white;
  }

  code span::selection, code::selection {
    @apply bg-slate-200/50;
  }
}
