---
import Base from '../layouts/Base.astro'
import { Button } from '~/components/ui'
---

<Base>
  <article>
    <h5>🧑‍🚀 Hello, Visitor!</h5>
    <p>
      I'm a <strong>fullstack-engineer</strong> with a focus on front-end. I also
      good with Rust language, web3 integration, basic cryptography and web standards
      (transport protocols, caching, OS, etc.)
    </p>

    <p>
      I have over <strong>5 years</strong> of professional experience, having worked
      for companies and projects from around the globe.
    </p>

    <p>
      I have developed <strong>complex apps</strong> from the frontend to the backend,
      <strong>mentored teams</strong> of frontend developers, created awesome looking
      animations, and more.
    </p>

    <p>
      My native language is Portuguese, and I am <strong
        >proficient in English</strong
      > (C1 level) and have a basic knowledge of <strong>German</strong> (A2 level).
    </p>

    <a href="/portfolio">
      <Button>My Portfolio</Button>
    </a>
  </article>
</Base>
