---
import { getCollection } from 'astro:content'

import Base from '../layouts/Base.astro'
import { Button, Project } from '~/components/ui'
const portfolioEntries = await getCollection('portfolio')
---

<Base>
  <section>
    <article>
      <div class="container my-20">
        <h4>
          Hello! I'm a <strong class="text-white">fullstack engineer</strong> 🚀
          with a focus on frontend. Working with Typescript, React, Solid, and Rust.
        </h4>
        <div class="flex justify-between mt-10">
          <div class="flex gap-2">
            <a href="#about">
              <Button>About me</Button>
            </a>
            <a href="#portfolio">
              <Button>Portfolio</Button>
            </a>
          </div>
          <a href="https://twitter.com/gabdem13"> Twitter</a>
        </div>
      </div>
    </article>
  </section>

  <section class="bg-base rounded-md py-10" id="about">
    <article class="container">
      <h5 class="text-white">About me</h5>
      <p>
        I started to program when I was 15 years old, and I never stopped since
        that day. When I was 18 I began my Technologist Degree in System
        Analysis and Development while working in an internship.
      </p>
      <p>
        When I graduated, I started to work as a fullstack developer, I was
        working with bleeding-edge technology from the very beggining of my
        career.
      </p>
      <p>
        Besides working with tech, I have a passion for languages. I'm fluent in
        English, and I'm currently learning German (A2 Level).
      </p>
      <a href="/gabriel-cv.pdf" download>
        <Button variant="outlined">Resume.pdf</Button>
      </a>
      <a href="/recommendation-letter.pdf" download>
        <Button variant="outlined">Recommendation Letter.pdf</Button>
      </a>
    </article>
  </section>

  <section id="portfolio">
    <article class="container">
      <h5 class="text-white">Portfolio</h5>
      <p>
        Only my bestest work is listed here. Click on a project to read more
        about it.
      </p>

      <div class="grid lg:grid-cols-1 gap-5">
        {
          portfolioEntries.map((entrie) => (
            <Project
              title={entrie.data.title}
              description={entrie.data.description}
              image={entrie.data.image}
            />
          ))
        }
      </div>
    </article>
  </section>
</Base>
