---
import Base from '~/layouts/Base.astro'
---

<Base>
  <article>
    <h5>🚀 Portfolio</h5>
    <p>
      Please find below a selection of my best work, accompanied by live
      examples. To access the corresponding project, simply click on the
      relevant image.
    </p>
    <h6>Professional</h6>
    <p>
      Projects that I developed professionally while working for companies or
      paid projects. (Not all are listed here).
    </p>
    <h6>Personal</h6>
    <p>
      Personal projects that I did for fun, for studying, or any other reason.
    </p>
  </article>
</Base>
