---
import Base from "../layouts/Base.astro";
---

<Base>
  <!-- <section class="container max-w-[90ch]"></section> -->
  <section class="article">
    <header class="container max-w-[50ch] sm:my-20">
      <h1>
        Sponsor
      </h1>
      <p>Do you want to make a donation? Please donate to this BTC address.</p>
      <p class="text-yellow-300 mt-2">Bitcoin</p>
      <p class="text-yellow-300">bc1qzpqswkypvus2u8zextmc6k8u6x26ap50qgtyfk</p>
      <img
        alt="Bitcoin QR Code"
        width={50}
        height={50}
        src="/images/qr.png"
        class="w-56 h-auto mt-10 mx-auto"
      />
    </header>
  </section>
</Base>
