---
import '@fontsource/corben'
import '@fontsource/poppins'
import BaseHead from '../components/BaseHead.astro'
import Footer from '../components/ui/Footer.astro'
import { SITE_DESCRIPTION, SITE_TITLE } from '../config'

export interface Props {
  title?: string
  description?: string
}

const { title, description } = Astro.props
---

<!DOCTYPE html>
<html data-color-mode="dark" data-dark-theme="dark" lang="en">
  <head>
    <BaseHead
      title={title ?? SITE_TITLE}
      description={description ?? SITE_DESCRIPTION}
    />
  </head>
  <body>
    <main class="min-h-screen">
      <!-- <Header title={SITE_TITLE} /> -->
      <slot />
      <Footer />
    </main>
  </body>
</html>
