---
export type Props = astroHTML.JSX.AnchorHTMLAttributes;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<a
  href={href}
  class:list={[className, { active: isActive }, 'mr-2']}
  {...props}
>
  <slot />
</a>
<style>
  a.active {
    font-weight: 600;
  }
</style>
